﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
    </nav>
    <div class="container body-content pt-3">
        @if (TempData["success"] != null)
        {
            <div class="row" style="margin-top: 25px;">
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible" style="margin-bottom: 25px;">
                        @TempData["success"]
                    </div>
                </div>
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div class="row" style="margin-top: 25px;">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible" style="margin-bottom: 25px;">
                        @TempData["error"]
                    </div>
                </div>
            </div>
        }
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>